.input_container {
  display: flex;
  flex-direction: column;
}

.input_label {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.input {
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  border: 1px solid var(--grey);
  border-radius: 0.1rem;
}
