html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

:root {
  --orange: #ff4500;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app > :nth-child(2) {
  flex: 1;
  /* Prevent child from growing bigger than the flexbox container */
  min-height: 0;
}
