html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

:root {
  --orange: #ff4500;
  --grey: #878a8c;
  --light_grey: #e0e1e2;
  --blue: #5a75cc;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.app > :nth-child(2) {
  grid-column: 2/-1;
  /* Prevent child from growing bigger than the flexbox container */
  min-height: 0;
}

.orange {
  color: var(--orange);
}

.blue {
  color: var(--blue);
}
