.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.sidebar_logo_link {
  align-self: flex-start;
  margin: 1.5rem 1rem;
  outline: none;
}

.sidebar_logo {
  width: 8rem;
}

.sidebar_subreddits_header {
  color: var(--orange);
  font-size: 1.1rem;
  font-weight: 600;
}

.sidebar_subreddit_add {
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  height: 2rem;
  width: 2rem;
  padding-bottom: 0.5rem;
  background: var(--orange);
  color: white;
  cursor: pointer;
}

.sidebar_subreddits {
  overflow-y: scroll;
  margin-top: 1rem;
}

.sidebar_input {
  width: 80%;
  margin: 0 1rem;
}

.sidebar_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
